<strong>Recuperando senha</strong>

<p>Uma solicitação de senha foi realizada para o e-mail ({{ email }}). Se você não for o autor dessa requisição, seria legal você trocar a sua senha para garantir</p>

<p>Para continuar com a recuperação de senha utilize o token {{ token }} ou click no link a baixo </p>

<a href="{{ link }}">Criar nova senha</a>
